* {
  font-family: "Popppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-image: url(/images/background-2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Navbar Section */
.navbar {
  background-color: rgb(255, 250, 233);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar .feature {
  width: 100%;
}

.navbar .feature .row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar .feature .row a {
  color: black;
  font-size: 1.6rem;
  transition: 0.5s;
  font-weight: 520;
}

.navbar .feature .row a:hover {
  font-size: 1.8rem;
  color: rgb(107, 73, 32);
}

/* HERO SECTION */
.container-1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-1 .container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding-top: 3rem;
}

.container-1 .container-2 .logo img {
  width: 4rem;
}

.container-1 .container-2 .row-text {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: red;
}

.container-1 .container-2 .row-text h3,
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

.container-1 .container-2 .row-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.container-1 .container-2 .row-button a {
  width: 100%;
}

.container-1 .container-2 .row-button a:hover {
  width: 100%;
}

.container-1 .container-2 .row-button .button {
  width: 100%;
  height: 4rem;
  background-color: rgb(228, 202, 4);
  border-radius: 1rem;
  transition: 1s;
}

.container-1 .container-2 .row-button .button:hover {
  background-color: white;
}

.row-button .button .row-selection {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row-button .button .row-selection .logo-selection {
  height: 4rem;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.row-button .button .row-selection .logo-selection img {
  width: 2.7rem;
  border-radius: 1rem;
}

.row-button .button .row-selection .text-selection {
  height: 4rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4.5rem;
  font-weight: 700;
  color: #047ac4;
  transition: 1s;
}

.row-button .button .row-selection .text-selection:hover {
  color: #05ae1e;
}
