* {
  font-family: "Popppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-image: url(/images/background-2.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

/* START Navbar Section */
.navbar {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 5rem;
}

.navbar .feature {
  width: 100%;
}

.navbar .feature .row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar .feature .row a {
  color: black;
  font-size: 1.6rem;
  transition: 0.5s;
  font-weight: 520;
}

.navbar .feature .row a:hover {
  font-size: 1.8rem;
  color: rgb(107, 73, 32);
}
/* END NAVBAR SECTION */

/* START HOME SECTION */
.container-0 {
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
}

.container-0 .row-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-0 .row-home .text-home {
  width: 100%;
  font-size: 2rem;
}

.container-0 .row-home .text-home .button-home {
  width: 10rem;
  height: 3rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid;
  color: black;
  transition: 1s;
}

.container-0 .row-home .text-home .button-home:hover {
  color: red;
}

.container-0 .row-home .logo-ud-rio {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container-0 .row-home .logo-ud-rio img {
  width: 15rem;
}
/* END HOME SECTION */

/* HERO SECTION */
.container-1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}

.container-1 .container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100vh;
  padding-top: 3rem;
}

.container-1 .container-2 .logo img {
  width: 4rem;
}

.container-1 .container-2 .row-text {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: red;
}

.container-1 .container-2 .row-text h3,
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

.container-1 .container-2 .row-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.container-1 .container-2 .row-button a {
  width: 100%;
}

.container-1 .container-2 .row-button a:hover {
  width: 100%;
}

.container-1 .container-2 .row-button .button {
  width: 100%;
  height: 4rem;
  background-color: rgb(228, 202, 4);
  border-radius: 1rem;
  transition: 1s;
}

.container-1 .container-2 .row-button .button:hover {
  background-color: white;
}

.row-button .button .row-selection {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row-button .button .row-selection .logo-selection {
  height: 4rem;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
}

.row-button .button .row-selection .logo-selection img {
  width: 2.7rem;
  border-radius: 1rem;
}

.row-button .button .row-selection .text-selection {
  height: 4rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 7rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #047ac4;
  transition: 1s;
}

.row-button .button .row-selection .text-selection:hover {
  color: #05ae1e;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  /* START HOME SECTION */
  .container-0 {
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
  }

  .container-0 .row-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .container-0 .row-home .text-home {
    width: 100%;
    font-size: 1.8rem;
  }

  .container-0 .row-home .text-home .button-home {
    width: 10rem;
    height: 3rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid;
    color: black;
    transition: 1s;
  }

  .container-0 .row-home .text-home .button-home:hover {
    color: red;
  }

  .container-0 .row-home .logo-ud-rio {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .container-0 .row-home .logo-ud-rio img {
    width: 15rem;
  }
  /* END HOME SECTION */

  /* HERO SECTION */
  .container-1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
  }

  .container-1 .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    padding-top: 3rem;
  }

  .container-1 .container-2 .logo img {
    width: 4rem;
  }

  .container-1 .container-2 .row-text {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: red;
  }

  .container-1 .container-2 .row-text h3,
  p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
  }

  .container-1 .container-2 .row-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
    flex-wrap: wrap;
  }

  .container-1 .container-2 .row-button a {
    width: 100%;
    font-size: 1.5rem;
  }

  .container-1 .container-2 .row-button a:hover {
    width: 100%;
  }

  .container-1 .container-2 .row-button .button {
    width: 100%;
    height: 4rem;
    background-color: rgb(228, 202, 4);
    border-radius: 1rem;
    transition: 1s;
  }

  .container-1 .container-2 .row-button .button:hover {
    background-color: white;
  }

  .row-button .button .row-selection {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .row-button .button .row-selection .logo-selection {
    height: 4rem;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
  }

  .row-button .button .row-selection .logo-selection img {
    width: 2.7rem;
    border-radius: 1rem;
  }

  .row-button .button .row-selection .text-selection {
    height: 4rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 4.5rem; */
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #047ac4;
    transition: 1s;
  }

  .row-button .button .row-selection .text-selection:hover {
    color: #05ae1e;
  }
}
